@using JacobClient.Models
@model Cart
<div id="tableCart" class="well">
    <div class="row">
        <h3><strong>Cart</strong></h3>
    </div>
    @using (Html.BeginForm("InsertUpdate", "Cart", FormMethod.Post, new { id = "insertUpdateCartForm" }))
    {
        @Html.ValidationSummary(true)
        <fieldset @Html.Raw(Model.IsControlEnabled ? "" : "disabled")>
            <div class="row">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.OrderId, new { @class = "" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.OrderId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OrderId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ProductId, new { @class = "" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ProductId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ProductId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Quantity, new { @class = "" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Quantity)
                    </div>
                    <button onclick="submitForm()" class="btn btn-success pull-right">Submit</button>
                </div>
            </div>
        </fieldset>
    }
</div>

<script>
    $(document).ready(function () {
        var form = $('#insertUpdateCartForm');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);
    });

    function submitForm() {
        var form = $('#insertUpdateCartForm');
        form.validate();
        if (form.valid()) {
            form.submit();
        }
    }
</script>