@using JacobClient.Models
@model Order
<div id="tableOrder" class="well">
    <div class="row">
        <h3><strong>Order</strong></h3>
    </div>
    <fieldset @Html.Raw(Model.IsControlEnabled ? "" : "disabled")>
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Id, new { @class = "" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.CustomerId, new { @class = "" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.PONumber, new { @class = "" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.PONumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.OrderDate, new { @class = "" })
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.OrderDate, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </fieldset>
</div>