<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Add Table
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <!-- Add Customer button -->
        <li>
            <a id="addCustomerBtn" OnClick="addCustomerButton()">
                Customer
            </a>
        </li>
        <!-- Add Cart button -->
        <li>
            <a id="addCartBtn" OnClick="addCartButton()">
                Cart
            </a>
        </li>
        <!-- Add Order button -->
        <li>
            <a id="addOrderBtn" OnClick="addOrderButton()">
                Order
            </a>
        </li>
        <!-- Add Product button -->
        <li>
            <a id="addProductBtn" OnClick="addProductButton()">
                Product
            </a>
        </li>
    </ul>
</div>

<a id="addProductBtn" OnClick="getTestList()">
    TEST rows
</a>

<div>
    <div id="tables" class="row">
    </div>
</div>


<script>
    $(document).ready(function () {

    });

    function addCustomerButton() {
            if ($('#tableCustomer').length) {
                $('#tableCustomer').remove();
                $('#addCustomerBtn').removeClass('selected-item');
            } else {
                $.ajax({
                    url: '@Url.Action("GetBlankCustomer", "Customer")',
                    success: function (data) {
                        if ($('#tableOrder').length) {
                            $('#tables').html($('#tables').html() + data);
                        } else {
                            $('#tables').html(data);
                            $('#addProductBtn').removeClass('selected-item');
                            $('#addOrderBtn').removeClass('selected-item');
                            $('#addCartBtn').removeClass('selected-item');
                        }
                        $('#addCustomerBtn').addClass('selected-item');
                    }
                });
            }
    }

    function addOrderButton() {
            if ($('#tableOrder').length) {
                $('#tableOrder').remove();
                $('#addOrderBtn').removeClass('selected-item');
            } else {
                $.ajax({
                    url: '@Url.Action("GetTestOrder", "Home")',
                    success: function (data) {
                        if ($('#tableCustomer').length) {
                            $('#tables').html($('#tables').html() + data);
                        } else {
                            $('#tables').html(data);
                            $('#addProductBtn').removeClass('selected-item');
                            $('#addCustomerBtn').removeClass('selected-item');
                            $('#addCartBtn').removeClass('selected-item');
                        }
                        $('#addOrderBtn').addClass('selected-item');
                    }
                });
            }
    }

    function addCartButton() {
            if ($('#tableCart').length) {
                $('#tableCart').remove();
                $('#addCartBtn').removeClass('selected-item');
            } else {
                $.ajax({
                    url: '@Url.Action("GetTestCart", "Home")',
                    success: function (data) {
                        $('#tables').html(data);
                        $('#addProductBtn').removeClass('selected-item');
                        $('#addOrderBtn').removeClass('selected-item');
                        $('#addCustomerBtn').removeClass('selected-item');
                        $('#addCartBtn').addClass('selected-item');
                    }
                });
            }
    }

    //https://stackoverflow.com/questions/6119098/how-to-call-controller-actions-using-jquery-in-asp-net-mvc
    function addProductButton() {
            if ($('#tableProduct').length) {
                $('#tableProduct').remove();
                $('#addProductBtn').removeClass('selected-item');
            } else {
                $.ajax({
                    url: '@Url.Action("GetTestProduct", "Home")',
                    success: function (data) {
                        $('#tables').html(data);
                        $('#addProductBtn').addClass('selected-item');
                        $('#addOrderBtn').removeClass('selected-item');
                        $('#addCustomerBtn').removeClass('selected-item');
                        $('#addCartBtn').removeClass('selected-item');
                    }
                });
            }
    }

    function getTestList() {
        $.ajax({
            url: '@Url.Action("Details", "Product", new { id = 0 })',
            success: function (data) {
                $('#tables').html(data);
            }
        });
    }

</script>