@using JacobClient.Models
@model Order
<div id="tableOrder" class="well">
    <div class="row">
        <h3><strong>Order</strong></h3>
    </div>
    @using (Html.BeginForm("InsertUpdate", "Order", FormMethod.Post, new { id = "insertUpdateOrderForm" }))
    {
        @Html.ValidationSummary(true)
        <fieldset @Html.Raw(Model.IsControlEnabled ? "" : "disabled")>
            <div class="row">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Id, new { @class = "" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Id)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.CustomerId, new { @class = "" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CustomerId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.OrderDate, new { @class = "" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.OrderDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OrderDate)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.PONumber, new { @class = "" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.PONumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PONumber)
                    </div>
                </div>
            </div>
            <button onclick="submitForm()" class="btn btn-success pull-right">Submit</button>
        </fieldset>
    }
</div>

<script>
    $(document).ready(function () {
        var form = $('#insertUpdateOrderForm');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);
    });

    function submitForm() {
        debugger
        var form = $('#insertUpdateOrderForm');
        form.validate();
        if (form.valid()) {
            form.submit();
        }
    }
</script>